#quizBody {
    background-image: url("../images/quiz background.jpg");
    background-size: cover;
}

#question,
.answers,
#rationale {
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
}

.item1 {
    grid-area: "Question";
}

.item2 {
    grid-area: "Ans1";
}

.item3 {
    grid-area: "Ans2";
}

.item4 {
    grid-area: "Ans3";
}

.item5 {
    grid-area: "Ans4";
}

@media only screen and (min-width: 700px) {
    .grid_container {
        display: grid;
        grid-template-areas:
            "Question Question"
            "Ans1 Ans2"
            "Ans3 Ans4";
        grid-gap: 10px;
    }

    .grid_container>div {
        background-color: transparent;
    }

    .item1 {
        grid-column: 1 / span 2;
    }

    #question {
        font-size: 80px;
        margin: 50px 50px 50x 50px;
    }

    .item2,
    .item3,
    .item4,
    .item5 {
        border: 10px solid black;
        
    }

    .answers {
        font-size: 50px;
    }
}

@media only screen and (max-width: 699px) {
    .grid_container {
        display: grid;
        grid-template-areas:
            "Question"
            "Ans1" 
            "Ans2"
            "Ans3" 
            "Ans4";
        grid-gap: 10px;
    }
    
    .grid_container>div {
        background-color: transparent;
    }
    
    #question {
        font-size: 20px;
        padding-top: 10%;
    }

    .item2,
    .item3,
    .item4,
    .item5 {
        border: 2px solid black;
    }

    .answers {
        font-size: 30px;
    }
}

#a1, #a2, #a3, #a4 {
    text-align: center;
}